<div>
    {% for facet_name, facet_info in facets.items %}
        {%  if facet_info.values|length > 0 %}
        <dl>
            <dt>{{ facet_info.label }}</dt>
            {% for v in facet_info.values|slice:":10" %}
                <dd>
                    {% if v.count %}
                        {% if v.urls.remove_filter %}
                            <a href="?{{ v.urls.remove_filter }}" title="rimuovi questo filtro"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                        {% endif %}
                        {% if v.urls.add_filter %}
                            <a href="?{{ v.urls.add_filter }}" title="{{ v.label }}">{{ v.short_label }}</a>
                        {% else %}
                            <span title="{{ v.label }}">{{ v.short_label }}</span>
                        {% endif %}
                        ({{ v.count }})
                    {% endif %}
                </dd>
            {% endfor %}
            {% if facet_info.values|length > 10 %}
                <div class="collapse" id="more-{{ facet_info.label }}">
                    {% for v in facet_info.values|slice:"10:" %}
                        <dd>
                            {% if v.count %}
                                {% if v.urls.remove_filter %}
                                    <a href="?{{ v.urls.remove_filter }}" title="rimuovi questo filtro"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                                {% endif %}
                                {% if v.urls.add_filter %}
                                    <a href="?{{ v.urls.add_filter }}" title="{{ v.label }}">{{ v.short_label }}</a>
                                {% else %}
                                    <span title="{{ v.label }}">{{ v.short_label }}</span>
                                {% endif %}
                                ({{ v.count }})
                            {% endif %}
                        </dd>
                    {% endfor %}
                </div>
                [<a id="toggle-more-{{ facet_info.label }}" class="toggle-more"
                    data-toggle="collapse" href="#more-{{ facet_info.label }}"
                    aria-expanded="false" aria-controls="more-{{ facet_info.label }}"
                    >Mostra gli altri valori</a>]
            {% endif %}
        </dl>
        {% endif %}
    {% endfor %}
</div>
